{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="container">
    <h1>Page Home</h1>

    <h2>LIGNE 100product controller = revoir render / renderForm=renderform marhe pas donc juste rendtre</h2>
</div>
{% endblock %}
