{% extends 'base.html.twig' %}

{% block title %}Fostane{% endblock %}

{% block body %}
    <h1>Mise à jour du produit</h1>

    {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_product_index') }}"><button class="bg-dark text-white rounded-4">Retour</button></a>
    
    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
